*{
  text-align: center;
  cursor: pointer;
}

.name{
  padding: 5px;
  margin-left: 1%;
}

.email{
  margin-left: 1.4%;
  margin-top: 0.5%;
}

.password{
  padding: 5px;
  margin-left: 0.1%;
}
.btn{
  background-color: orange;
  margin-left: 50%;
}

.forgot-password text-right{
  cursor: pointer;
}