.App {
  text-align: center;
}

.img{
  margin-right: 90%;
}

.btn{
  display: flex;
  justify-content: end;
  
}

.logout{
  margin-left: 5px;
  left: 91%;
  background-color: rgb(242, 32, 32);
  color: white;
  
}

.login{
  background-color: rgb(126, 126, 233);
  margin-left: 80%;
}